header{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

  }
  .logo-group{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 0 16px;
  }

    .nav-menu ul{
      list-style-type: none;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;
    }
    .menu-close-button{
      display: none;
    }
    .menu-open-button{
      display: none;
    }
    .cta-button{
      color: var(--white);
      background-color: var(--blue);
      border: none;
      padding: 8px 16px;
      font-family: inherit;
      margin: 0 16px 0 0;
      border-radius: 0 15px 0 15px;
    }
  .nav-menu li{
    padding: 0 12px 0 12px;
  }
  .nav-menu a{
    position: relative;
  }
  .nav-menu a::after:hover{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    border-bottom: 1px solid var(--dark-blue);
  }
  header{
    border-bottom: 1px solid #eee;
  }
