p.p1 {
	  margin: 0px;
      background-color: #00bbff;
	  border: 2px;
	  color: blue;
	  border-width: 5px;
	  border-color: red;
} 

// p.p2{
	border-width: 5px;
	border-color: red;
	padding: 0px 0px 0px 10px;
}