* {
    box-sizing: border-box;
    margin: 0px;
}
body {
    background-color: hsla(190, 53%, 69%, 0.575);
    font-size: 16px;
    color: hsl(157, 30%, 29%);
    font-family: sans-serif;
}
h1{
    border: 3px solid rgba(66, 194, 130, 0.705);
    text-align: center;
    width: 50%;
    border-radius: 12px;
    color: hsl(157, 30%, 29%);
    margin: 0px 25% 0px 25%;
    font-family: Tangerine;
    font-size: 48px;
}
p {
    margin-top: 10px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    height: 120px;
}
img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow-x: hidden;
}
@media only screen and (max-width: 400px) {
    h1{
        aspect-ratio: 181.500/102;
    }
  }
