* {
    box-sizing: border-box;
    margin: 0px;
}
body {
    background-color: hsla(190, 53%, 69%, 0.575);
    font-size: 16px;
    color: hsl(157, 30%, 29%);
    font-family: sans-serif;
}
